* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
header.backImage {
    background-image: url("../img/header.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

header.backImage .backImage_sub {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

header.backImage .backImage_heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

/* navigation start */
#mainNavbar {
    background-color: #212529;
}

#mainNavbar .navbar-brand {
    letter-spacing: 0.063em;
    font-weight: 700;
    color: #de3545;
    font-family: 'Montserrat', sans-serif;
}

#mainNavbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.06em;
    font-family: 'Montserrat', sans-serif;
}

#mainNavbar .navbar-nav .nav-item .nav-link:active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #de3545;
}
.link_heading {
    margin-top: 1.4rem;
}

/* services start */
#services h3.services_sub {
    font-family: 'Roboto Slab', serif;
}

/* portfolio start */
#portfolio .p-link .p-hover {
    background: rgba(21, 22, 23, 0.55);
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    -ms-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
}

#portfolio .p-link:hover .p-hover {
    opacity: 1;
}
/* modal start */
.pmodalp {
    text-align: justify;
    text-indent: 25px;
}

/* @media xs,sm,md,lg start*/
@media(max-width:991.98px) {
    header.backImage {
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    header.backImage .backImage_heading {
        font-size: 1.8rem;
    }

    #mainNavbar .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
}

/* @media xl,xxl start*/
@media(min-width:992px) {
    header.backImage {
        padding-top: 13rem;
        padding-bottom: 15rem;
    }

    #mainNavbar {
        background-color: transparent;
        border: none;
    }

    #mainNavbar .navbar-nav .nav-item {
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #212529;
    }
}