* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
header.backImage {
    background-image: url("../img/header.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

header.backImage .backImage_sub {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

header.backImage .backImage_heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

/* navigation start */
#mainNavbar {
    background-color: #212529;
}

#mainNavbar .navbar-brand {
    letter-spacing: 0.063em;
    font-weight: 700;
    color: #de3545;
    font-family: 'Montserrat', sans-serif;
}

#mainNavbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.06em;
    font-family: 'Montserrat', sans-serif;
}

#mainNavbar .navbar-nav .nav-item .nav-link:active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #de3545;
}

.link_heading {
    margin-top: 1.4rem;
}

/* services start */
.heading_sub {
    font-family: 'Roboto Slab', serif;
}

/* portfolio start */
#portfolio .p-link .p-hover {
    background: rgba(21, 22, 23, 0.55);
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    -ms-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
}

#portfolio .p-link:hover .p-hover {
    opacity: 1;
}

/* modal start */
.pmodalp {
    text-align: justify;
    text-indent: 25px;
}

/* about-timeline start */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1px;
    content: "";
    background-color: #dadde0;
}

.timeline>li {
    margin-bottom: 50px;
}

.timeline>li:after,
.timeline>li:before {
    display: table;
    content: "";
}

.timeline>li:after {
    clear: both;
}

.timeline>li .t-panel {
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .t-image {
    position: absolute;
    z-index: 10;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #dadde0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.timeline>li .t-image:last-child {
    background-color: #de3545;
}

.timeline>li .t-image h4 {
    font-size: 10px;
    line-height: 16px;
    margin-top: 12px;
}

.timeline .t-heading h4 {
    margin-top: 0;
    color: inherit;
    font-weight: bold;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timeline .t-body>ul,
.timeline .t-body>p {
    margin-bottom: 0;
}
.timeline>li:last-child{
    margin-bottom: 7rem;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .timeline>li .t-panel {
        float: left;
        width: 40%;
        padding: 0 20px 20px 30px;
        text-align: left;
    }

    .timeline>li .t-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .t-image h4 {
        font-size: 13px;
        line-height: 17px;
        margin-top: 18px;
    }

    .timeline>li.t-inverted>.t-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .t-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .t-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .t-image h4 {
        font-size: 19px;
        line-height: 25px;
        margin-top: 31px;
    }

    .timeline>li.t-inverted>.t-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .t-panel {
        padding: 0 20px 20px 10px;
    }

    .timeline>li .t-image {
        width: 175px;
        height: 175px;
        margin-left: -89px;
    }

    .timeline>li .t-image h4 {
        margin-top: 40px;
        font-size: 22px;
        line-height: 30px;
    }

    .timeline>li.t-inverted>.t-panel {
        padding: 0 40px 20px 20px;
    }
}
/* footer start */
.f-hover{
    text-decoration: none;
}
.f-hover:hover{
    text-decoration: underline;
}
#liveToastBtn{
    border: none;
}
.toast-container{
    padding-right: 1rem;
    padding-bottom: 5rem;
}

/* contact start */
#contact {
    background-color: #432630;
    background-repeat: no-repeat;
    background-image: url("../../img/map.png");
    background-position: center;
}

#contact input {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}

#contact .form-textarea {
    height: 91.5%;
}

#contact .form-textarea textarea {
    height: 100%;
    min-height: 10rem;
}

#contact .form-control:focus {
    box-shadow: 1px 1px 12px #d8df0b;
}

/* @media xs,sm,md,lg start*/
@media(max-width:991.98px) {
    header.backImage {
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    header.backImage .backImage_heading {
        font-size: 1.8rem;
    }

    #mainNavbar .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
}

/* @media xl,xxl start*/
@media(min-width:992px) {
    header.backImage {
        padding-top: 13rem;
        padding-bottom: 15rem;
    }

    #mainNavbar {
        border: none;
        background-color: transparent;
    }

    #mainNavbar .navbar-nav .nav-item {
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #212529;
    }
}